<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout/">
  <head>  
     <title>Loja Virtual</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
     rel="stylesheet"/>
     <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  
     media="screen,projection"/>
     <meta charset="UTF-8"/>
     <meta name="viewport" content="width=device.width,initial-scale=1.0"/>
   </head>
  <body>
    <div>
    <h1>Produtos</h1>
    <h3><a href="/cadastrarproduto" class="waves-effect waves-light btn">
    <i class="material-icons left">add_circle_outline</i>
    Cadastrar Produto</a></h3>
    
    <table class="container">
      <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Preço(R$)</th>
            <th>Deletar</th>
          </tr>
      </thead>
      <tbody>
      
      <tr th:each="produto: ${produtos}">
         <td><a th:href="${'/editarproduto/' + produto.id}"><span th:text="${produto.nome}"></span></a></td>
         <td><span th:text="${produto.descricao}"></span></td>
         <td><span th:text="${produto.marca}"></span></td>
         <td><span th:text="${produto.modelo}"></span></td>
         <td><span class="moeda" th:text="${produto.preco}"></span></td>
         <td><a class="waves-effect waves-light btn-small" th:href="${'/deletarproduto/'+produto.id}"><i class="material-icons center">delete</i></a></td> 
      </tr>
    </tbody>
   </table>  
    </div>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
    <!-- Máscara para moeda -->
     <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
      <script>
       $('.moeda').mask('#.##0,00', {reverse: true});
     </script>    	
</html>